.goodsSection {
  background-color: #171910;
  padding: 0;
  margin: 0 auto;
  width: 100%;
  border-top: solid white 2px;
  border-bottom: solid white 2px;
  text-align: center;
  position: relative;
  justify-content: center;
  align-items: center;
  min-width: 310px;
}
.goodsSectionContainer {
  width: 100%;
  max-width: 768px;
  min-width: 310px;

  display: flex;
  justify-content: center;
}
.goodsSection .box {
  min-width: 300px;
  padding-bottom: 40px;
}
.goodsSection .box ul li {
  margin-bottom: 20px;
  font-size: 16px;
  letter-spacing: 2px;
  line-height: 30px;
  font-size: 22px;
  padding-left: 20px;
  padding-right: 20px;
}
.goodsSection .box strong {
  color: #04f46b;
}
.goodsSection .box ul li strong {
  color: #04f46b;
}

.goodsSection h3 {
  display: block;
  text-align: center;
  line-height: 80px;
  font-size: 50px;
  letter-spacing: 2px;
  color: white;
  text-decoration: none;
  font-weight: 800;
  font-style: normal;
  transform: translateY(4px);
}
.goodsSection p {
  display: block;
  text-align: center;
  line-height: 30px;
  font-size: 22px;
  color: white;
  text-decoration: none;
  font-weight: 1;
  font-style: normal;
  transform: translateY(4px);
  letter-spacing: 3px;
  padding-left: 20px;
  padding-right: 20px;
}

/* swiper slider */
.goodsSection .swiper-horizontal {
  padding-top: 50px;
  padding-bottom: 50px;
}

.goodsSection .swiper-button-prev,
.goodsSection .swiper-button-next {
  color: #04f46b;
  width: 10px !important;
  font-size: 3px !important;
  display: none !important;
}
