.servicesSection {
  background-color: #171910;
  padding: 0;
  margin: 0 auto;
  width: 100%;
  border-top: solid white 2px;
  border-bottom: solid white 2px;
  text-align: center;
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
}
.servicesSectionContainer {
  width: 100%;
  max-width: 100%;
}
.servicesSectionContainer .box-web {
  margin: 0 auto;
  display: block;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}


.service-title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.servicesSectionContainer .box ul li {
  font-size: 16px;
  letter-spacing: 2px;
  line-height: 30px;
  font-size: 22px;
  display: block;
  text-align: center;
  font-size: 16px;
  letter-spacing: 2px;
  line-height: 30px;
  font-size: 22px;
  color: white;
  text-decoration: none;
  font-weight: 500;
  font-style: normal;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 50px;
  padding-bottom: 70px;
}
.servicesSectionContainer .box-web ul li {
  padding-top: 40px;
}

.servicesSectionContainer .box ul li strong {
  color: #04f46b;
  display: block;
  margin-top: 15px;
  font-size: 31px;
  letter-spacing: 2px;
  margin-bottom: 30px;
}

.servicesSection h3 {
  display: block;
  text-align: center;
  line-height: 40px;
  font-size: 30px;
  letter-spacing: 10px;
  color: white;
  text-decoration: none;
  font-weight: 800;
  font-style: normal;
  transform: translateY(0px);
  padding-left: 4%;
  padding-right: 4%;
}
.servicesSection strong {
  color: #04f46b;
  font-size: 50px;
}

.servicesSection .swiper-pagination-fraction,
.servicesSection .swiper-pagination-custom,
.servicesSection .swiper-horizontal > .swiper-pagination-bullets,
.servicesSection .swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: var(--swiper-pagination-bottom, 10px) !important;
}

.servicesSection .swiper-button-prev,
.servicesSection .swiper-button-next {
  color: #04f46b;
  width: 10px !important;
  font-size: 3px !important;
  top: 52% !important;
  position: absolute;
}

@keyframes blink-bounce-once {
  0% {
    opacity: 1;
    transform: rotate(0deg);
  }
  15% {
    transform: rotate(20deg);
  }
  30% {
    transform: rotate(-20deg);
  }
  45% {
    transform: rotate(20px);
  }
  60% {
    transform: rotate(0deg);
    opacity: 0; /* desaparece */
  }
  100% {
    opacity: 0; /* permanece invisível até o próximo ciclo */
  }
}

.animate-blink-bounce {
  display: none!important;
  width: 30px;
  position: absolute;
  right: 20px;
  margin-top: 20px;
  display: inline-block;
  animation: blink-bounce-once 6s infinite;
}

@media (max-width: 768px) {
  .animate-blink-bounce {
    display: block!important;
  }
  .servicesSection h3 {
    line-height: 35px;
    font-size: 30px;
    letter-spacing: 10px;
  }
}
