.headerPrincipal {
  background-color: #171910;
  position: fixed;
  width: 100%;
  z-index: 2;
  height: 76px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.headerPrincipal nav {
  background-color: #171910;
  padding: 0;
  margin: 0 auto;
  width: 100%;
  border-top: solid white 2px;
  border-bottom: solid white 2px;
}

.headerPrincipal nav ul {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0 auto;
  width: 100%;
  height: auto;
  padding-top: 10px;
  padding-bottom: 4px;
}

.headerPrincipal nav ul li {
  padding: 0;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 120px;
}

.headerPrincipal nav ul li p {
  display: block;
  text-align: center;
  line-height: 70px;
  font-size: 35px;
  color: white;
  text-decoration: none;
  font-family: sans-serif;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  transform: translateY(4px);
}
.headerPrincipal nav ul li p strong {
  color: #04f46b;
}

.navButton.active {
  color: #04f46b;
}

.navMenu {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transform: translateY(-10px);
  transition: all 0.4s ease-in-out;
}

.navMenu.open {
  max-height: 500px;
  opacity: 1;
}

.headerActionButtons {
  text-align: right;
  display: flex;
  justify-content: end;
}

.navButton {
  cursor: pointer;
}

.navButton.active {
  color: #04f46b;
  font-weight: bold;
}

@media (max-width: 1024px) {
  .headerPrincipal {
    height: auto;
    position: fixed;
    padding-top: 0;
    padding-bottom: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: solid 2px white;
  }

  .headerPrincipal .subHeader {
    display: flex;
    justify-content: center;
    height: auto;
  }
  .navMenu.open {
    margin-top: 21px;
  }
  .headerPrincipal nav ul {
    flex-direction: column;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
  }
  .headerPrincipal nav ul li p {
    line-height: 20px;
    padding-bottom: 5px;
    font-size: 30px;
  }
  .headerPrincipal nav ul li {
    width: 100%;
  }
  .headerPrincipal nav ul li p {
    font-size: 25px;
  }
}
