header {
  background-color: #171910;
  nav {
    ul {
      display: flex;
      justify-content: center;
      li {
        margin-left: 10px;
        margin-right: 10px;
        a {
          color: white;
          text-decoration: none;
          font-family: "Bebas Neue", sans-serif;
        }
      }
    }
  }
}
