.displayCallFull {
  color: #09bd54;
  background-color: #171910;
  width: 100%;
  height: auto;
  min-height: 60vh;
  display: flex;
  justify-content: center;
}

.displayCallFull img {
  width: 100%;
  max-width: 170px;
  height: auto;
}

@media (max-width: 768px) {
  .displayCallFull {
    color: #09bd54;
    background-color: #171910;
    width: 100%;
    height: 500px;
    min-height: auto;
    margin-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .displayCallFull a {
    display: flex;
    color: #ffffff;
    padding: 0px;
    margin: 0 auto;
    width: 100%;
    height: auto;
    max-width: 220px;
  }
}
